/* BASIC STYLES HERE */
p {
    margin: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1610982402515-ef63b35bc7d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80);
    background-size: cover;
}

.menu-text {
    font-size: 10pt;
}

.tall-input {
    height: 15em;
}

.card {
    border: solid 4px black;
}

.title {
    box-shadow: -8px -8px 0 rgb(229, 98, 98);
}

.jumble-example {
    box-shadow: -8px 8px 0 rgb(0, 255, 21);
}

.no-jumble {
    box-shadow: -8px 8px 0 rgb(125, 50, 121);
}

.jumble-content-form {
    box-shadow: 8px 8px 0 rgb(84, 102, 235);
}

.menu-box {
    box-shadow: 8px -8px 0 rgb(242, 255, 0);
}

.bg-highlight {
    background-color: rgba(255, 255, 0, 0.386);
}